@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;600;800&display=swap');
@import 'animateName','glassmorphism';

//font-weights
$font-200: font-weight(200);
$font-400: font-weight(400);
$font-600: font-weight(600);
$font-800: font-weight(800);

//colors
$primary-blue: rgb(144, 224, 239);
$primary-purple: rgb(157, 78, 221);

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding-inline: calc(10vw + 15px);
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  background-color: rgba(black,0.9);
  color: $primary-blue;
}

header{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .arrow{
    position: relative;
    margin-top: auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background: linear-gradient(to right, transparent 40%, rgba(white,0.4));
    background-clip : text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: blink 1s linear  infinite alternate;
  }
}

@keyframes blink {
  0%{
    background-position: 0% 50%;
  }
  100%{
    background-position: 100% 50%;
  }
}

.wrapper {
  display: grid;
  place-items: center;
  margin-top: 7rem;
  h1{
    font-size: 7rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    cursor: pointer;
  }
}

h3{
  color: white;
  text-align: center;
  display: block;
  font-weight: lighter;
  font-size: 2rem;
  margin-top: 1rem;
}

.nav{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  li{
    list-style-type: none;
    a{
      text-decoration: none;
      color: $primary-blue;
      font-size: 1.08rem;
      transition: all ease 200ms;
      &:hover{
        color: $primary-purple;
      }
    }
  }
}

@media screen and (min-width:1280px){
  .nav{
    width: 80vw;
    margin-inline: auto;
  }
}

//About Page
.about{
  h2{
    font-size: min(2.5rem, 8vw);
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    &::before{
      content: '';
      width: min(40%, 100px);
      background-color: white;
      height: 4px;
      position: absolute;
      top: 100%;
      right: 0;
      animation: slide 1000ms linear;
    }
  }

  h3{
    margin-top: 8rem;
    font-size: 2rem;
    font-weight: lighter;
    text-align: left;
  }

  //container for skills section
  .card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    .card{
      flex-basis: 1;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 220px;
      aspect-ratio: 1;
      padding: 2.5rem;
      border-radius: 0.7rem;
      @include glassmorphism();
      img{
        max-width: 100%;
      }
  }
  }

  @media screen and (max-width: 800px) {
    .card-container{
      columns: 2;
      gap: 2rem;

    }
  }

  //container for experience container
  .experience-container:hover > .experience-item::after {
    opacity: 1;
  }  
  
  .experience-container, .project-container{
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .experience-item{
        @include glassmorphism();
        background-color: rgba(#F0F8FF,0.2);
        display: flex;
        align-items: stretch;
        position: relative;
        cursor: pointer;
        padding: 2rem 0;
        .experience-date{
          text-align: center;
          min-width: 200px;
          padding-inline: 1rem;
        }
        .experience-type{
          padding-inline: 2rem;
          flex-grow: 1;
        }
        .extra-div{
          background-color: rgba(black,0.8);
          position: absolute;
          inset: 2px;
          border-radius: inherit;
          z-index: 2;
          padding: 20px;
        }
        &:hover::before{
          opacity: 1;
        }
        &:hover h4, &:hover p{
          color: white;
          transition: color 300ms ease-in;
        }
        &::before,&:after{
          border-radius: inherit;
          content: '';
          height: 100%;
          width: 100%;
          left: 0px;
          top: 0px;
          opacity: 0;
          position: absolute;
          transition: opacity 500ms;
        }
        &::before {
          background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y), 
            rgba(#8A2BE2,0.15),
            transparent 40%
          );
          z-index: 3;
        }
        .card::after {  
          background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y), 
            rgba(#8A2BE2,0.15),
            transparent 40%
          );
          z-index: 1;
        }
    }
    }

  .project-item{
    display: flex;
    align-items: stretch;
    border-radius: 8px;
    row-gap: 1rem;
    .project-image{
      min-width: 150px;
      padding: 1rem;
      img{
        width: 150px;
        max-width: 100%;
      }
    }
    .project-description{
      flex-grow: 1;
      padding-inline: 1rem;
      h4{
        margin: 0.5rem 0;
      }
    }
  }

  .education-container{
    @include glassmorphism();
    width: 60%;
    padding: 1.5rem 2rem;
    .education-item{
      cursor: pointer;
      display: flex;
      align-items: stretch;
      gap: 2rem;
      padding: 1rem 0;
      transition: color ease-in-out 250ms;
      .education-duration{
        min-width: 150px;
        width: 150px;
      }
      .education-degree{
        position: relative;
        padding-left: 50px;
        &::after{
          content: '';
          background-color: $primary-blue;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -5.5px;
      }
        &::before{
          content: '';
          background-color: $primary-blue;
          width: 1px;
          height: 150%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -1px;
      }
      }
      h4,h5{
        margin-top: 0;
        margin-bottom: 0.5rem;
        word-spacing: 1px;
        letter-spacing: 0.3px;
      }
      h4{
        padding-top: 1rem;
        margin-bottom: 0.5rem;
      }
      &:hover{
        color: white;
      }
    }
  }
}

@media screen and (max-width:992px) {
  .experience > .experience-container, 
  .projects > .project-container,
  .education > .education-container{
    min-width: 100%;
  }
}

@keyframes slide {
  from{
    width: 0;
  }
  to{
    width: min(40%, 100px);
  }
}

